doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LOL 
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet") 
    body 
        section.pc__screen
            p Just Only Possible Mobile Decice, You Need Use Smaller Screen Than Now

        .box
            section.mheader
                div.himg       
                a(href="/").htitle Game Store

        section.mobile__screen
            main.main
                block content
        
                
        nav.nav
            div
                a(href="/chart") 차트
            div
                a(href="/mypage") MY PAGE
            div
                a(href="/rank") 랭킹

        
