extends ./base.pug

block content

    section.chead

    section.cmain 
        ul 
            li.ctop
                form(action="/champs/top" method="get")
                    input(type="submit" value="TOP")            
            li.cjungle
                form(action="/champs/jungle" method="get")
                    input(type="submit" value="JUNGLE")
            li.cmid
                form(action="/champs/mid" method="get")
                    input(type="submit" value="MID")
            li.cbottom
                form(action="/champs/bottom" method="get")
                    input(type="submit" value="BOTTOM")
            li.csupport
                form(action="/champs/support" method="get")
                    input(type="submit" value="SUPPORT")
