extends ./base.pug

block content

    section.chead

    section.cmain 
        ul 
            li.ctop
                a(href="/champs/top")  TOP         
            li.cjungle
                a(href="/champs/jungle") JUNGLE
            li.cmid
                a(href="/champs/mid") MID
            li.cbottom
                a(href="/champs/bottom") BOTTOM
            li.csupport
                form(action="/champs/support" method="get")
                    input(type="submit" value="SUPPORT")
