extends ./base.pug

block content

    section.mhead


        div
            h1 MY PAGE
    section.mmain
        ul 
            li
                form(action="#" method="get")
                    input(type="submit" value="게임정보 즐겨찾기")           
            li
                form(action="#" method="get")
                    input(type="submit" value="푸시 알람")
            li
                form(action="#" method="get")
                    input(type="submit" value="이용약관")
            li
                form(action="#" method="get")
                    input(type="submit" value="개인정보 보호방침")
