extends ./base.pug

block content

    section.mhead

    section.mmain
        ul                       
            li.malarm
                a(href="/top") 푸쉬알람
            li.mcontract
                a(href="/contract") 이용약관
            li.mpolicy
                a(href="/") 개인정보 보호방침
            
            
