extends ./base.pug

block content

    section.rhead 

    section.rmain
        ul 
            li 
                form(action="#" method="get")
                    input(type="submit" value="1. 귀살대 홍도기")
            li 
                form(action="#" method="get")
                    input(type="submit" value="2. 귀살대 홍도기")
            li 
                form(action="#" method="get")
                    input(type="submit" value="3. 귀살대 홍도기")
                    
        