doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body 

        section.mheader
            div.himg       
            a(href="/").htitle Game Store
            
        block content 
        
        nav.nav 
            div 
                a(href="/champs/top") 탑
            div 
                a(href="/champs/jungle") 정글
            div 
                a(href="/champs/mid") 미드
            div 
                a(href="/champs/bottom") 바텀
            div 
                a(href="/champs/support") 서폿
